################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ising model/Ising model.sln
/Ising model/Ising model.vcxproj
/Ising model/Ising model.vcxproj.filters
/Ising model/Ising model.vcxproj.user
/.vscode
/Ising model/.vs/Ising model
/Ising model/Debug
/.vs
/Ising model/Ising model.aps
*.rc
*.h
.DS_Store
Ising model/.DS_Store
*.pbxproj
*.xcuserstate
*.xcworkspacedata
*.plist
Ising model/cp4/cp4.xcodeproj/xcuserdata/bukser.xcuserdatad/xcschemes/xcschememanagement.plist
*.plist
*.xcuserstate
*.out
Ising model/.DS_Store
Ising model/cp4/cp4.xcodeproj/project.xcworkspace/xcuserdata/bukser.xcuserdatad/UserInterfaceState.xcuserstate
*.txt
